# Ignore object files in this directory
*.o
*.mod
*.gcda
*.gcno
atchem2
makefile.*
mechanism-rate-coefficients.f90
mechanism-rate-declarations.f90
mechanism.prod
mechanism.reac
mechanism.species
ro2-rates.f90
cvode*
numdiff*
openlibm*
Makefile
