# Ignore object files in this directory
*.o
*.mod
atchem
makefile.*
mechanism-rate-coefficients.f90
mechanism-rate-declarations.f90
mechanism.prod
mechanism.reac
mechanism.species
ro2-rates.f90
openlibm*
