  sudo : true

  notifications:
    email: false

  language: fortran

  compiler:
    - gcc

  before_install:
    - sudo apt-get -qq update
    - sudo apt-get install libsundials-serial-dev
    - sudo apt-get install -y gfortran
  install:
    - ./tools/build.sh ./mcm_subset.fac

  script:
    - ./tools/run.sh

  branches:
    only:
    - master
