  sudo : true

  notifications:
    email: false

  language: fortran

  os:
    - osx
    - linux

  compiler:
    - gcc

  addons:
    apt:
      packages:
        - gfortran
        - liblapack-dev
        - numdiff

  before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export DYLD_LIBRARY_PATH=$PWD/cvode/lib:$PWD/openlibm-0.4.1 ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; brew install gcc@4.8 homebrew/science/numdiff ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./travis/cache_homebrew ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]];   then ./tools/install/install_cvode.sh $PWD /usr/local/Cellar/gcc@4.8/4.8.5/bin/gfortran-4.8 ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./tools/install/install_cvode.sh $PWD /usr/bin/gfortran ; fi
    - ./tools/install/install_openlibm.sh $PWD

  install:
    - ./tools/build.sh ./tools/mcm_example.fac

  script:
    - ./atchem
    - make test
