# Ignore output/log files and mechanism files of the test runs
*.log
*.out
mechanism.f90
mechanism.o
mechanism.prod
mechanism.reac
mechanism.ro2
mechanism.species
mechanism.so
tests/*/output/*
model_tests/*/output/*

# Except configuration and reference files
!*.cmp
!*.config
!*.parameters
