# Ignore output/log files and mechanism files of the test runs
*.log
*.out
*.output
*.mod
*.o
mechanism.f90
mechanism.o
mechanism.prod
mechanism.reac
mechanism.ro2
mechanism.species
mechanism.so
customRateFuncs.o
photolysis-rates
tests/*/output/reactionRates/*
model_tests/*/output/reactionRates/*

# Except configuration and reference files
!*.cmp
!*.config
!*.parameters
