# Ignore output files from test runs

*.output
*.out
*/instantaneousRates/*
mechanism.prod
mechanism.reac
mechanism.species

# Except configurationa and reference files

!*.cmp
!*.config
!*.parameters
