# Ignore output files from test runs
*.output
*.out
*/instantaneousRates/*
*/*/mechanism.prod
*/*/mechanism.reac
*/*/mechanism.species
results

# Except configuration and reference files
!*.cmp
!*.config
!*.parameters
