# Ignore output/log files and mechanism files of the test runs
*.output
*.out
*/output/reactionRates/*
mechanism.prod
mechanism.reac
mechanism.ro2
mechanism.species
mechanism.f90
mechanism.o
mechanism.so
testsuite.log

# Except configuration and reference files
!*.cmp
!*.config
!*.parameters
